* {
    padding: .0px;
    margin: 0px;
    box-sizing: border-box;
}


ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    width: 120px;
    height: 30px;
    line-height: 30px;
    float: left;

    text-align: center;
}

ul li a {
    text-decoration: none;
    display: block;
    text-decoration: none;
    display: block;
    text-transform: capitalize;
    color: white;
    font-weight: 600;
    background-color: black;
}

ul li a:hover {
    background-color: green;
}

ul li ul li {
    display: none;
}

ul li:hover ul li {
    display: block;
}

ul {
    display: inline-block;


}

ul {
    display: inline-block;
    float: right;
    width: 60%;
    font-size: 16px;
    padding-top: 10px;
}

li {
    list-style-type: none;
}

nav.rohit {
    background: black;
    padding: 20px;
}

li.ten a {
    color: green;
    font-weight: 800;
}

li.ten {
    color: green;
    font-weight: 700;
}

.Design {
    text-align: center;
    /* text-transform: capitalize; */
    padding: 18pc;
}

.Design h1 {
   
    font-size: 120px;
    font-weight: 700;
    margin-bottom: 0px;
    color: white;
}

section {
    background-image: linear-gradient(rgba(26, 26, 26, 0.32), rgba(26, 26, 26, 0.32)), url(https://www.rhinooffice.co.uk/hubfs/Jerroms46.jpg);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-2 {
    padding: 10pc;
    background-color: #18D193;
}

.box-2 p {
    padding-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: white;
}

.box-2 h2 {
    /* font-size: 42px; */
    font-weight: 800;
    color: white;
}

p.star {
    border-bottom: 1px solid;
    padding-left: 15px;
    padding-bottom: 22px;
}

p.how {
    border-bottom: 1px solid;
    padding-bottom: 40px;
}

p.by {
    display: inline-block;
    padding: 1px 7px;
   
    background: #1a73e8;
    color: white;
}

p.rhino {
    color: #adadad;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 14px;
    margin: 0;
    padding-bottom: 47px;
}

i.fa.fa-arrow-right {
    padding-left: 25px;
    font-size: 27px;
}

button {
    background: #18d193;
    color: white;
    padding: 16px 48px;
    font-size: 25px;
    font-weight: 500;
    border: none;
}

h3.our {

    text-align: center;
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 56px;
    font-weight: 800;
}

section.have {
    background: black;
}

box-4 {
    text-align: center;
    border: 2px solid red;
    display: inline-block;
    padding: 19px;
    background: azure;
    margin: 14pc;
}

section.neetu {
    /* background: antiquewhite; */
    background-image: url(https://www.rhinooffice.co.uk/hubfs/Landing%20Pages/bg-lightbulb3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 236px 0 185px 0;
}

.box-4 h4 {
    text-align: end;
    color: rgb(15, 15, 15);
    display: inline-block;
    /* display: inline; */
    /* border: 1px solid; */
    font-size: 30px;
}

.box-4 p {
    color: black
}

.box-4 {
    display: inline-block;
    border: 2px solid;
    margin-left: 115px;
    padding: 20px;
    border-radius: 22px;
    background: white;
}

.box-4 p {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}


.box-5 p {
    text-align: center;
    padding-left: 55px;
    font-size: 21px;
    color: white;
    text-transform: capitalize;}
    .box-6 p {text-align: center;
        padding-left: 55px;
        font-size: 21px;
        color: white;
        text-transform: capitalize;}
        .box-7 p {text-align: center;
            padding-left: 55px;
            font-size: 21px;
            color: white;
            text-transform: capitalize;}
            li {
                color: aliceblue;}
                .col-sm-6 {
                    flex: 0 0 auto;
                    width: 48%;}
                    .fa-instagram:before {
                        content: "\f16d";
                        padding: 10px;
                        font-size: 26px;
                    }